### pymongo
Inorder to connect to mongodb, python needs mongodb driver pymongo.

In [272]:
from pymongo import MongoClient
from bson.objectid import ObjectId

# Create a client connection to the MongoDb instance running on the local machine
client = MongoClient('localhost:27017')
# Defining a database object to insert data into the MongoDb database.
db = client.EmployeeData

### 1. Create

In [102]:
employeeId = 1
employeeName = "Dinesh Sonachalam"
# Inserts a document to a collection called Employee
db.Employees.insert_one(
            {
                "id": employeeId,
                "name":employeeName,
              
            })
print('\nInserted data successfully\n')

Inserted data successfully

### 2. Read all data

In [211]:
empcol = db.Employees.find()
for emp in empcol:
    print(emp)

{u'_id': ObjectId('5bcaf556ccf9624534390d66'), u'id': 1, u'name': u'Dinesh Sonachalam'}
{u'_id': ObjectId('5bcaf639ccf9624534390d69'), u'id': 2, u'name': u'Niranjan'}

### 3. Read specific data

In [251]:
empcol = db.Employees.find({"name":"Dinesh Sonachalam"})
for data in empcol:
    print(data)

{u'_id': ObjectId('5bcaf556ccf9624534390d66'), u'id': 1, u'name': u'Dinesh Sonachalam'}

### 4. Update specific data

In [286]:
myquery = { 'id': 1 }
newvalues = { "$set": { "name": "tom" } }

db.Employees.update_one(myquery, newvalues)
print("Update is successful! ")
print("Now reading all data.")

empcol = db.Employees.find()
for emp in empcol:
    print(emp)

Update is successful!
Now reading all data.
{u'_id': ObjectId('5bcaf556ccf9624534390d66'), u'id': 1, u'name': u'tom'}
{u'_id': ObjectId('5bcaf639ccf9624534390d69'), u'id': 2, u'name': u'Niranjan'}

In [287]:
myquery = { '_id': ObjectId('5bcaf556ccf9624534390d66')}
newvalues = { "$set": { "name": "Rock" } }

db.Employees.update_one(myquery, newvalues)
print("Update is successful! ")
print("Now reading all data.")

empcol = db.Employees.find()
for emp in empcol:
    print(emp)

Update is successful!
Now reading all data.
{u'_id': ObjectId('5bcaf556ccf9624534390d66'), u'id': 1, u'name': u'Rock'}
{u'_id': ObjectId('5bcaf639ccf9624534390d69'), u'id': 2, u'name': u'Niranjan'}

### 5. Delete specific data

In [289]:
myquery = { '_id': ObjectId('5bcaf556ccf9624534390d66')}
db.Employees.delete_one(myquery)
print("Deleted successfully! ")
print("Now reading all data.")

empcol = db.Employees.find()
for emp in empcol:
    print(emp)

Deleted successfully!
Now reading all data.
{u'_id': ObjectId('5bcaf639ccf9624534390d69'), u'id': 2, u'name': u'Niranjan'}